doctype html
html
  head
    title title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/css/material-icons.css" rel="stylesheet")
    link(rel="stylesheet" href="/css/materialize.min.css")
    link(rel="icon" href="/icon/favicon.ico" type="image/x-icon")
    script(src="/js/materialize.min.js")
    script(src="/js/pathheader.js")
  body
    div(class="container")
      div(class="row")
        div(class="col s12 m8")
          div(class="card-panel")
            div(class="collection with-header")
              div(class="collection-header")
                h5 Contents
              if prev != path
                a(href=prev class="collection-item")
                  span(class="title") ..
                  div(class="secondary-content")
                    i(class="tiny material-icons circle") subdirectory_arrow_left
              if path != '/'
                - var path = path + '/'
              each dir in dirs
                a(href= path + dir class="collection-item")
                  span(class="title") #{dir}
                  div(class="secondary-content")
                    i(class="tiny material-icons circle") folder
              each file in files
                a(href= path + file class="collection-item")
                  span(class="title") #{file}
                  div(class="secondary-content")
                    i(class="tiny material-icons circle") insert_drive_file
